.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 93px;
}

.logo--light-theme {
  color: #000000;
}

.nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contact-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contact-list__icon,
.contact-list__link-icon {
  margin-right: 10px;
}

.menu__item {
  position: relative;
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.menu__link {
  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.active {
  color: var(--accent-color);

  &::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    bottom: -32.5px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}

.contact-list__link,
.contact-list__tel-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contact-list__link {
  margin-right: 50px;
}
